<h2 style="margin-top: 30px; text-align: center;">Create a new recipes</h2>
<div class="container">
<form action="/private/recipes/create" method="POST">
 <div class="row">
    <div class="col-25">
    <label for="title">Title:</label>
    </div>
      <div class="col-75">
    <input type="text" name="title" required>
    </div>
    </div>
 <div class="row">
    <div class="col-25">
    <label for="ingredient">Ingredient:</label>
        </div>
      <div class="col-75">
    <input type="text" name="ingredient" value="{{ingredient}}" required>
    </div>
    </div>
 <div class="row">
    <div class="col-25">
    <label for="cuisines">Cuisines:</label>
        </div>
      <div class="col-75">
    <input type="text" name="cuisines" value="{{cuisines}}" required>
    </div>
    </div>
 <div class="row">
    <div class="col-25">
    <label for="dishType">DishType:</label>
        </div>
      <div class="col-75">
    <input type="text" name="dishType" value="{{dishType}}" required>
    </div>
    </div>
 <div class="row">
    <div class="col-25">
    <label for="readyInMinutes">How long it takes:</label>
        </div>
      <div class="col-75">
    <input type="number" style="padding-top: 5px" name="readyInMinutes" min="0" value="{{readyInMinutes}}" required>
    </div>
    </div>
 <div class="row">
    <div class="col-25">
    <label for="author">Author:</label>
        </div>
      <div class="col-75">
    <input type="text" name="author" value="{{author}}" required>
    </div>
    </div>

 <div class="row">
    <div class="col-25">
    <label for="summary">Summary:</label>
        </div>
      <div class="col-75">
    <textarea type="text" name="summary" value="{{summary}}" required rows="15">
      </textarea>
    </div>
    </div>
    <button class="btn btn-primary" type="submit" style="margin:auto">Create</button>
</form>
</div>
{{#if error}}
<p>{{error}}</p>
{{/if}}