<h1>What you want cook today {{user.username}}</h1>

{{!-- <a class="btn btn-primary btn-sm" href="/recipes">All my creations</a> --}}
<a class="btn btn-primary btn-sm" href="/private/recipes/search">Find recipies with your favorite ingredient</a>
<h2>All my creations</h2>

<body>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'first')" id="defaultOpen">Recipes</button>
  <button class="tablinks" onclick="openCity(event, 'second')">Finde new recipies</button>
</div>

<div id="first" class="tabcontent">
<div>

    {{#each recipes}}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img style="max-width: 80%" src={{ image }} alt={{ title }}>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ title }}</h5>
                    <p class="card-text">{{ summary }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="card-text"><small class="text-muted">Ingredient: {{ ingredient }}</small></li>
                        <li class="card-text"><small class="text-muted">Cuisines: {{ cuisines }}</small></li>
                        <li class="card-text"><small class="text-muted">DishType: {{ dishType }}</small></li>
                        <li class="card-text"><small class="text-muted">Ready in..:{{ readyInMinutes }}</small></li>
                        <li class="card-text"><small class="text-muted">Author: {{ author }}</small></li>
                    </ul>
                    <div class="card-body">



                      



                        <a href="/private/recipes/{{id}}/edit" class="btn btn-primary btn-sm">Edit</a>






                        <a href="/private/recipes/{{id}}/delete" class="btn btn-primary btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>





</div>

<div id="second" class="tabcontent">
<form action="/search" method="POST">
    <label for="ingredient">Ingredient:</label>
    <input type="text" name="ingredient" required>
    <button type="submit">I am hungry</button>
</form>
</div>


<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();


function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
   
</body>










