<h2 style="margin-top: 30px; text-align: center">{{ recipe.title }}</h2>


  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'first')" id="defaultOpen">Recipes</button>
    <button class="tablinks" onclick="openCity(event, 'second')">Finde new recipies</button>
   
  </div>

<div id="first" class="tabcontent">
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img style="max-width: 80%" src={{ recipe.image }} alt={{ recipe.title }}>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">Dish description: {{{ recipe.summary }}}</p>
                <ul class="list-group list-group-flush">
                    <li class="card-text"><small class="text-muted">Ingredient: {{ recipe.extendedIngredients.name }}</small></li>
                    <li class="card-text"><small class="text-muted">Cuisines: {{ recipe.cuisines }}</small></li>
                    <li class="card-text"><small class="text-muted">DishType: {{ recipe.dishType }}</small></li>
                    <li class="card-text"><small class="text-muted">Ready in..:{{ recipe.readyInMinutes }}</small></li>
                    <li class="card-text"><small class="text-muted">Chef: {{ recipe.author }}</small></li>
                </ul>
                <p class="card-text">Instructions: {{{ recipe.instructions }}}</p>
            </div>
        </div>
    </div>
    
</div>


</div>
 <div id="second" class="tabcontent">
    <form action="/search" method="POST">
      <label for="ingredient">Ingredient:</label>
      <input type="text" name="ingredient" required>
      <button type="submit">I am hungry</button>>
    </form>
  </div>




  <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
  </script>

